.m-handmade-slide {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.m-handmade-slide-tagline {
  position: absolute;
  top: var(--spacing-lg);
  left: var(--spacing-md);
  right: var(--spacing-md);
  margin: 0;
  text-align: center;
  font-family: "Libre Caslon Text", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: #ffa047;
}

.m-handmade-slide-title {
  position: absolute;
  right: var(--spacing-md);
  top: 55%;
  text-align: right;
}

.m-handmade-slide-title-script,
.m-handmade-slide-title-bold,
.m-handmade-slide-title-bold2 {
  margin: 0;
  line-height: 0.85;
}

.m-handmade-slide-title-script {
  font-family: "Libre Caslon Text", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 72px;
  letter-spacing: -0.08em;
  color: #ffa047;
}

.m-handmade-slide-title-bold {
  padding-bottom: 6px;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #ffa047;
  letter-spacing: -0.08em;
}

.m-handmade-slide-title-bold2 {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-size: 40px;
  color: #ff620e;
  filter: blur(0.9px);
  letter-spacing: -0.08em;
}

.m-handmade-slide-caption {
  position: absolute;
  left: var(--spacing-md);
  max-width: 230px;
  bottom: var(--spacing-lg);
  margin: 0;
  text-align: left;
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1;
  color: #ffa047;
}
