.products-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 768px) {
  .products-grid {
    box-sizing: border-box;
    max-width: var(--container-max-width);
    margin-inline: auto;
    padding: var(--spacing-lg) 40px 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-lg) var(--spacing-md);
  }
}
