.m-gift-slide .m-slide-content-image {
  width: calc(100% + var(--spacing-md) * 2);
  margin-inline: calc(var(--spacing-md) * -1);
  background: var(--color-bg-light);
}

.m-gift-slide .m-slide-content-image img {
  object-fit: contain;
}
